<div class="preloader-wrapper">
    <div class="preloader">
        <div class="text-center mt-2 mb-2">
            <img style="width: 200px" src="{{LOGO_SISTEMA}}" alt="{{ TITULO_SISTEMA }}">
            <div class="fa-3x">
                <i class="text-dark fas fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</div>