<!-- /.content-wrapper -->
<footer class="main-footer">
  <strong>Copyright &copy; {{ "now"|date("Y") }} <a href="https://oseasmoreto.com">oseasmoreto.com</a>.</strong>
  Todos os direitos reservados.
  </div>
</footer>
